<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<h1>Listing Tasks</h1>

<% if @project %>
  <h2 align="left">Tasks for project "<%= @project.proj_name %>" : </h2>
<% else %>
    <% if @filter_user_id && @filter_user_id != "" %>
        <h2 align="left">Tasks for user "<%=  User.find_by_id(@filter_user_id).dropdown %>": </h2>
    <% end %>
<% end %>

<form>
    <%= collection_select(:filter, :selected_id, User.all.sort_by(&:id), :id, :dropdown,
                          options = { include_blank: true }, html_options = {class: "dropdown"} ) %>
    <div style="width:220px">
      <%= check_box_tag(:current_id) %>
      <%= label_tag(:current_id, "My Tasks only") %>
    </div>
    <div class="button">
        <input type="submit" class="btn btn-primary btn-sm" value="Filter" />
    </div>

</form>

<table class="table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Project</th>
      <th>Project Name</th>
      <th>User</th>
      <th>User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.project_id %></td>
        <td>
        <% if task.project_id != nil %>
            <%= task.project.proj_name %>
        <% end %>
        </td>
        <td><%= task.user_id %></td>
        <td>
          <% if task.user_id != nil %>
            <%= task.user.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
