<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
   xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<h1>Listing Tasks</h1>

<h2><%=  @tasks_for %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title>" align="center">Filters</div>
  </div>
  <div class="panel-body">
      <form>
        <span class="label label-default" >Project</span>
        <%= collection_select(:project_filter, :selected_id, Project.all.sort_by(&:id), :id, :dropdownlist,
                            options = { include_blank: true }, html_options = {class: "dropdown input-sm"} ) %>

        <span class="label label-default">Assignd to</span>
        <%= collection_select(:user_filter, :selected_id, User.all.sort_by(&:id), :id, :dropdownlist,
                              options = { include_blank: true }, html_options = {class: "dropdown input-sm"} ) %>


         <span class="checkbox" style="width:1200px"> <%= check_box_tag(:current_id_filter) %></span><span class="label label-default">Show only my tasks</span>

          <div class="button" align="center">
            <input type="submit" class="btn btn-primary btn-xs" value="Apply" />
          </div>
      </form>
   </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Project</th>
      <th>Project Name</th>
      <th>User</th>
      <th>User Name</th>
      <th>Task Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.project_id %></td>
        <td>
        <% if task.project_id != nil %>
            <%= task.project.proj_name %>
        <% end %>
        </td>
        <td><%= task.user_id %></td>
        <td>
          <% if task.user_id != nil %>
            <%= task.user.name %>
          <% end %>
        </td>
        <td>
          <% if task.task_status_id != nil %>
              <%= task.task_status.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
