<p id="notice"><%= notice %></p>

<table class="table table-striped" style="width:50%">
  <tr>
    <td>
      <strong><%= t "activerecord.attributes.customer.custId" %></strong>
    </td>
    <td>
      <%= @customer.id %>
    </td>
  </tr>

  <tr>
    <td>
      <strong><%=t "activerecord.attributes.customer.name" %></strong>
    </td>
    <td>
      <%= @customer.name %>
    </td>
  </tr>


</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
