<div class="container">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @project.persisted? %>
    <div class="field" >
      <%= f.label :id %><br>
      <%= f.text_field :id, :disabled=>true, class: "inputdisabled" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proj_name %><br>
    <%= f.text_field :proj_name %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :pm %><br>
    <%= f.collection_select(:pm_id, Pm.all, :id, :name, { include_blank: true } ) %>
  </div>

  <div class="actions">
    <%= f.submit class: "buttonbg"%>
  </div>
<% end %>
</div>
