<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t "activerecord.attributes.project.proj_id" %></th>
      <th><%= t "activerecord.attributes.project.proj_name" %></th>
      <th><%= t "activerecord.attributes.project.custId" %></th>
      <th><%=  "PM" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.proj_id %></td>
        <td><%= project.proj_name %></td>

        <% if project.customer_id == nil %>
          <td></td>
        <% else %>
          <td><%= project.customer_id %> <%=  project.customer.name %></td>
        <% end %>
        <% if project.pm_id.nil? %>
          <td></td>
        <% else %>
          <td><%= project.pm_id %>  <%= project.pm.name %></td>
        <% end  %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
