  <p id="notice"><%= notice %></p>

<table class="table table-striped" style="width:50%">
  <tr>
    <td>
      <strong>Proj:</strong>
    </td>
     <td>
      <%= @project.proj_id %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Proj name:</strong>
    </td>
    <td>
    <%= @project.proj_name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Cust:</strong>
    </td>
    <td>
      <%= @project.customer_id %>  <%= @project.customer.name %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>PM:</strong>
    </td>
    <td>
      <%= @project.pm_id %>  <%= @project.pm.name %>
    </td>
  </tr>
</table>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %> |
  <%= link_to 'Tasks for this project', tasks_path(:project => @project) %>

